.navlink {
    background-color: wheat;
    display: grid;
    align-items: center;
    justify-items: center;
    height: clamp(2vh, 50px, 300px);
    text-decoration: none;
    color: indigo;
    padding: 0em clamp(22px, 5vw, 100px);
}

.navlink_active{
    background-color: tomato;
    animation: switchActiveOn 1.5s;
}

@keyframes switchActiveOn {
    0% {
        background-color: wheat;
        pointer-events: none;
    }
    20% {

        background-color: tomato;
    }
    100% {
        pointer-events:all;
    }
}

.navlink_simple{
    animation: switchActiveOff 1.5s;
    background-color: wheat;
}

@keyframes switchActiveOff {
    0% {
        background-color: tomato;
        pointer-events: none;
    }
    20% {
        background-color: wheat;
    }
    100% {
        pointer-events:all;
    }
}

.navlink:visited {
    color: indigo
}

.navlink:hover {
    transition: 0.2s all;
    background-color: cornflowerblue;
}
